<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8sPQBp8Ne4V-L9J8EiQBA6jsxuqyZsM4</string>
	<key>GCM_SENDER_ID</key>
	<string>595855593593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.heamed</string>
	<key>PROJECT_ID</key>
	<string>heamed-1d38d</string>
	<key>STORAGE_BUCKET</key>
	<string>heamed-1d38d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595855593593:ios:a0aa448900347e2c2a44a8</string>
</dict>
</plist>